<!DOCTYPE html>
<html>
<head>
<style>
p {font-style: italic;
    background-color: lightgrey}
h1 {font-style: normal;
    font-size: 24px;
    color: red}
    </style>
</head>
<body>
<h1><small>Dinosaurs</small></h1>


<% @dinosaurs.each do |dinosaur| %>
    <p><%= link_to dinosaur.name, dinosaur_path(dinosaur.id) %></p>
<% end %>

<%= link_to "[New Dinosaur]", new_dinosaur_path %>

</body>
</html>
